<!DOCTYPE html>
<html>
<body>
<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"> 
  <h2 class="headingtitle">Angular: Sending-a-POST-Request-with-Firebase </h2>
  <br>
  <div class="formcontainer">    
    <label><b>Title</b></label>
    <input type="text" class="titleinput" name="title" required
    ngModel/>   
    <label ><b>Content</b></label>
    <textarea id="content" class="contenttextarea" name="content" required
    ngModel></textarea>        
    <button type="submit" class="postbutton">Send Post</button>  
  </div>  
</form>
</body>
</html>
