<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h2 align="center">Angular: Making HTTP Requests with Firebase </h2>

<form #postForm="ngForm"> 
  <div class="formcontainer">    
    <label><b>Title</b></label>
    <input type="text" class="titleinput"/>   
    <label ><b>Content</b></label>
    <textarea id="content" class="contenttextarea" required></textarea>        
    <button type="submit" class="postbutton">Send Post</button>  
  </div> 
  <div>
    <div>
      <button class="fetchbutton">Fetch Posts</button>
      |
      <button class="clearbutton">Clear Posts</button>
    </div>
  </div>
</form>
</body>
</html>
